.wrap{
	margin:0 auto;
	width:1200px;
}
.naam{
	background-color:red;
	height:60px;
	margin: 0 auto;
	margin-top:40px;
}

.gegevens{
	background-color:green;
	width:calc(50% - 5px);
	height:600px ;
	margin-top:60px;
	display: inline-block;

}
.bedrijf{
	background-color:orange;
	width:50%;
	height:600px;
	margin-top:60px;	
	display: inline-block;
}

.link{
	background-color:blue;
	height:34px;
	width: 580px;
	margin-top:60px;	
	margin-right: 10px;
	display: inline-block;
}

.uitloggen{
	background-color:yellow;
	height:34px;
	width: 580px;
	margin-top:60px;	
	margin-left: 10px;
	display: inline-block;
}
