#wrap{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1200px;
    background-color: rgba(0,0,0,0.5);
    height: 500px;
      /* #FFFFF7 vintage white */
  }
body{
    font-family: 'Open Sans', sans-serif;
    background: url(../img/Header-3.jpg);
}
.bedrijf-comments-test{
    float: left;
    width: 100%;
    margin-top: 20px;
    background-color: gray;
}
h1{
    font-size: 32px;
    font-weight: 300;
}
h3{
    margin-top: 0;
}
.logo img, .header img{
    width: 136px;
    height: 45px;
}
/* voorpagina */
#doel{
    text-align: center;
    width: 100%;
    height: 100%;
}
/* leraren pagina */

#klassen{
  margin: 60px 5% 0 5%; 
  background-color: white;
  color: black;
  width: 30%;
  height: 169px;
  float: left;
}
#knopklas, #knoppok{
  margin-top: 20px;
  margin-left: 70px;
  background-color: red;
  border-radius: 3px;
  font-size: 20px;
  color: white;
  width: 50px;
  height: 30px;
  text-align: center;
  display: inline-block;
}
#stage{
  width:50% ;
  margin:10px 5% 0 5%;
  background-color: white;
  color: black;
float: right;
}
#stage1, #klassen1{
  background-color: black;
  color: white;
}
#leerlingen {
    margin-top: 10px;
    color: black;
    border: 2px solid white;
    background-color: white;
    width: 50%;
    text-align: center;
    float: left;
}
.TD {
    text-align: center;
    width: 175px;
}
#table {
    margin-top: 10px;
    text-align: center;
    color: black;
    border: 2px solid white;
    background-color: white;
    width: 50%;
    float: right;
}
/* overzicht pagina, zoek pagina*/
#zoek2{
  background-color: black;
  color: white;
}
#zoek{
    margin-top:40px;
    display: inline-block;
    float: left;
    background-color: white;
    width: 28%;
    height: 500px;
    margin-left: 35px;
}
#bedrijven{
  background-color: black;
  color: white;
}
#bedrijf{
  margin-top: 40px;
    display: inline-block;
    width: 60%;
    height: 500px;
    background-color: white;
    margin-left:5%;    
}
/* bedrijfspagina*/
#infoWrapper{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

#gebruikerComments{
    display: inline-block;
    width: 500px;
    margin-left: 200px;
    vertical-align: top;
}

.bedrijfInfo{}
.sterren{
    background-color: yellow;
    width: 50%;
    height: 200px ;
    display: inline-block;
}
      .rating {
          overflow: hidden;
          display: inline-block;
      }
      .rating-input {
          position: absolute;
          left: 0;
          top: -50px;
      }
      .rating-star {        
          display: block;
          background-color: none;
          float: right;        
          width: 16px;
          height: 16px;
          background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
      }
      .rating-star:hover,
      .rating-star:hover ~ .rating-star,
      .rating-input:checked ~ .rating-star {
          background-position: 0 0;
      }
/* studentenpagina*/
#student{
    background-color: gray;
    width: 48%;
    height: 400px;
    display: inline-block;
}
#kopje{
  background-color: black;
  color:white;
  height: 56px;
  text-align: center;
  margin-top: ;
}
#gegevens{
    width: 48%;
    height: 400px;
    display: inline-block;
    background-color: white;
}
#link{
    background-color: hotpink;
    width: 48%;
    height: 60px;
    display: inline-block;
    margin-top: 40px;
}
#uitloggen{
    background-color: pink;
    width: 48%;
    height: 60px;
    margin-top: 40px;
    display: inline-block;
}
/* pok-aanvraag*/
#pokAanvragen{
    background-color: white;
    width: 576px;
    height:400px ;
    display: inline-block;
   float:right;
   color:black;
}
#pok1{
  background-color: black;
  color:white;
  top:0;
  text-align: center;
}
/*footer*/
#footer{
    clear: both;
}

#map-canvas { height: 100%; margin: 0; padding: 0;}
