#wrap{
    margin: 0 auto;
    max-width: 1200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.bedrijf-comments-test{
    float: left;
    width: 100%;
    margin-top: 20px;
    background-color: gray;
}
h1{
    font-size: 32px;
    font-weight: 300;
}

.logo img, .header img{
    width: 136px;
    height: 45px;
}
/* voorpagina */
#doel{
    background-color: green;
    margin-top: 40px;
    height: 400px;
}
/* overzicht pagina, zoek pagina*/
#zoek{
    background-color: #91002C;
    width: 15%;
    height: 500px;
    display: inline-block;
}
#bedrijf{
    width: 70%;
    margin-left: 2%;
    height: 500px;
    background-color: beige;
    display: inline-block;
}

/* bedrijfspagina*/
#infoWrapper{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

#gebruikerComments{
    display: inline-block;
    width: 500px;
    margin-left: 200px;
    vertical-align: top;
}

.bedrijfInfo{}
.sterren{
    background-color: yellow;
    width: 50%;
    height: 200px ;
    display: inline-block;
}
      .rating {
          overflow: hidden;
          display: inline-block;
      }
      .rating-input {
          position: absolute;
          left: 0;
          top: -50px;
      }
      .rating-star {        
          display: block;
          background-color: none;
          float: right;        
          width: 16px;
          height: 16px;
          background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
      }
      .rating-star:hover,
      .rating-star:hover ~ .rating-star,
      .rating-input:checked ~ .rating-star {
          background-position: 0 0;
      }
/* docentenpagina */

/* studentenpagina*/
#student{
    background-color: gray;
    width: 48%;
    height: 400px;
    display: inline-block;
}
#gegevens{
    background-color: red;
    width: 48%;
    height: 400px;
    display: inline-block;
}
#link{
    background-color: hotpink;
    width: 48%;
    height: 60px;
    display: inline-block;
    margin-top: 40px;
}
#uitloggen{
    background-color: pink;
    width: 48%;
    height: 60px;
    margin-top: 40px;
    display: inline-block;
}
/* pok-aanvraag*/
#pok{
    background-color: lime;
    margin: 0 auto;
    width: 1200px;
    display: inline-block;
}

/*footer*/
#footer{
    clear: both;
}