.wrap{
	margin:0 auto;
	width:1200px;
}
.header{
	background-color:red;
	height:60px;
	margin: 0 auto;
	margin-top:40px;
}
button{
	width:100px;
	height:20px;
}
/*button */
.klas{
	background-color:yellow;
}
.bedrijven{
	background-color: green;
}

.klas1{
	background-color:pink ;
	width:calc(50% - 5px);
	height:20px;
	display: inline-block;

}
.naam1{
	background-color: purple;
	width:calc(50% - 5px);	
	height:20px;
	display: inline-block;
}
.naam2{
	background-color: blue;
	width:calc(50% - 5px);
	height:20px;
	display: inline-block;
}
.naam3{
	background-color: gray;
	width:calc(50% - 5px);
	height:20px;
	display: inline-block;
}
.naam4{
	background-color: black;
	width:calc(50% - 5px);
	height:20px;
	display: inline-block;
}
.naam5{
	background-color: brown;
	width:calc(50% - 5px);
	height:20px;
	display: inline-block;
}
.ss{
	background-color: orange;
	width:calc(50% - 5px);
	height:600px;
	display: inline-block;
}