.wrap{
	margin:0 auto;
	width:1200px;
}
.logo{
	background-color:red;
	height:60px;
	margin: 0 auto;
	margin-top:40px;
}

.naam{
	background-color:green;
	width:calc(50% - 5px);
	height:200px ;
	margin-top:60px;
	display: inline-block;
}

.sterren{
	background-color:yellow;
	width:calc(50% - 5px);
	height:200px ;
	margin-top:60px;
	display: inline-block;
}
.info{
	background-color:pink;
	width:calc(50% - 5px);
	height:600px ;
	margin-top:0px;
	display: inline-block;

}
.maps{
	background-color:blue;
	width:calc(50% - 5px);
	height:600px ;
	margin-top:0px;
	display: inline-block;

}
.com{
	background-color:orange;
	width:50%;
	height:600px;
	margin-top:60px;	
	display: inline-block;
}

.ster{
	background-color:black;
	width:calc(50% - 5px);
	height:200px ;
	margin-top:0px;
	display: inline-block;
}
.eigencommentaar{
	background-color:lime;
	width:calc(50% - 5px);
	height:400px ;
	
	display: inline-block;
}